<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/tailwind.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>Confirm Booking</title>
</head>
<body>
  <nav class="navbar bg-base-100">
    <div class="flex-1">
      
      <a href="/" class="btn btn-ghost text-xl"><i class="fa-solid fa-book text-bg-300"></i>Tutor Time</a>
      
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li><a href="/search">Search</a></li>
        <li>
          <details>
            <summary>
              More
            </summary>
            <ul class="p-2 bg-base-100 rounded-t-none">
              <li><a href="/libraries">Libraries</a></li>
              <li><a href="/libraries/tutors">Tutors</a></li>
            </ul>
          </details>
        </li>
      </ul>
    </div>
  </nav>
    <h1>Confirm your booking</h1>
    <main>
        <h2>does this look right?</h2>
        <!-- box of info here-->
        <div class="max-w-sm rounded overflow-hidden shadow-lg">
            <img class="w-full" src="../images/logo-2.png" alt="Sunset in the mountains">
            <div class="px-6 py-4">
              <div class="font-bold text-xl mb-2">Book your appointment</div>
              <!--I think this is where we pass info into createAppt function-->
              <form lass="text-gray-700 text-base" action="">
                <label for="">Time</label> 
                <label for="">Day</label> 
                <label for="">Tutor</label> 
                <input type="submit" value="confirm">
             </form>
             <h3>Time</h3>
             <h3>Day</h3>
             <h3>Tutor</h3>
            </div>
            <div class="px-6 pt-4 pb-2">
                <form action="/appointments/confirm">
                    <input class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2" type="submit" value="Book">
                </form>
                <form action="/libraries/tutors">
                  <input class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2" type="submit" value="Go Back">
              </form>
            </div>
          </div>
    </main>
</body>
</html>